.board{
    width:180px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
    margin-left: 44%;  

}
@media screen and (max-width: 480px) {
    .board{
        margin-left: 28%;
    } 
}