li{
    width: fit-content;
    color: black;
    border:1px solid gray;
    padding: 5px 5px;
    margin-bottom: 3px;
    list-style: none;
    outline: none;
    background: rgb(214, 214, 214);
    box-shadow: 0 0 10px #9521f3, 0 0 40px #c600ee, 0 0 80px #f704f7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li:hover{
    background-color: #fefefe;
    cursor: pointer;
}